<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datepicker</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <script>
//        creates a angular module without dependencies
        angular.module('demo', [])


    </script>

    <script src="timepicker.js"></script>
    <link rel="stylesheet" href="timepicker.css">

</head>

<!--Name of app used, defined in header script-->
<body ng-app="demo">





    <div >
        <!-- $parent.selectedTime will set all timepickers to the same model.-->
        <timepicker ng-model="selectedTime"></timepicker>
        <br>
        <timepicker ng-model="selectedTime"></timepicker>
        <br>
        <timepicker ng-model="selectedTime"></timepicker>

    </div>


</body>
</html>
